.home-block-container {
  position: relative;
}

.home-info-block-container {
  width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
