* {
  --default-button-color: #ffffff;
  --default-button-hover-color: #414453;
}

body {
  margin: 0;
  background: #272933;
}

.content-container {
  width: 100%;
  height: 87vh;
  padding-top: 90px;
  display: flex;
}
